h1,h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

body {
    background: rgb(65, 156, 65);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration-color: #fff;
    background-image: url("backgroundtable.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-container img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#btnHit #btnStay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#wager-bet1 #wager-bet2 {
    padding:10px;
    color: #fff;
    margin: 20px 0 0;
    background: #993333;
}